.forgot-password-form {
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 550px;
}

.fa-lock {
  font-size: 5rem;
  margin-bottom: 20px;
}

.error {
  margin-bottom: 0px;
  color: #b02a37;
  display: none;
}

.error-border {
  border: 1px solid #b02a37;
}
